In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('vereadores_feira.csv')

In [4]:
data.sample(2).T

,574,866
ano,2020,2016
tipo_eleicao,eleicao ordinaria,eleicao ordinaria
sigla_uf,BA,BA
id_municipio_tse,35157,35157
numero_candidato,70456,36633
id_candidato_bd,35806,1725381
sigla_partido,AVANTE,PTC
cargo,vereador,vereador
turno,1,1
resultado,nao eleito,suplente
votos,19,447
ano_1,2020,2016
tipo_eleicao_1,eleicao ordinaria,eleicao ordinaria
sigla_uf_1,BA,BA
id_municipio_tse_1,35157,35157
id_candidato_bd_1,35806,1725381
cpf,473646536,92215440520
titulo_eleitoral,102331200507,81425310574
sequencial_candidato,50000652053,50000016770
numero_candidato_1,70456,36633
nome_candidato,Marivaldo Conceicao De Almeida,Danielle Dos Santos Costa Oliveira
nome_urna_candidato,Val De Jacó,Danielle Oliveira
numero_partido,70,36
sigla_partido_1,AVANTE,PTC
cargo_1,vereador,vereador
situacao,deferido,deferido
ocupacao,motoboy,professor de ensino fundamental
data_nasc,1982-04-08,1978-04-11
idade,38,38
genero,masculino,feminino
instrucao,ensino fundamental completo,ensino superior completo
estado_civil,solteiro(a),casado(a)
nacionalidade,brasileira,brasileira
sigla_uf_nasc,BA,BA
municipio_nasc,Ituberá,Feira De Santana
email,avantefsaba@gmailcom,dscc fsa@hotmailcom
raca,parda,parda

In [5]:
(data['resultado'].unique())

array(['suplente', 'eleito por media', 'nao eleito', 'eleito por qp'],
      dtype=object)

In [6]:
status_eleito = ['eleito por media', 'eleito por qp']

eleitos = data[data['resultado'].isin(status_eleito)]
eleitos.sample(2)

,ano,tipo_eleicao,sigla_uf,id_municipio_tse,numero_candidato,id_candidato_bd,sigla_partido,cargo,turno,resultado,...,data_nasc,idade,genero,instrucao,estado_civil,nacionalidade,sigla_uf_nasc,municipio_nasc,email,raca
663,2016,eleicao ordinaria,BA,35157,13678,496695,PT,vereador,1,eleito por qp,...,1954-03-21,63,masculino,ensino medio completo,casado(a),brasileira,BA,Feira De Santana,robertoprofessor02@gmailcom,preta
901,2016,eleicao ordinaria,BA,35157,45678,613955,PSDB,vereador,1,eleito por qp,...,1955-04-06,61,feminino,ensino medio completo,divorciado(a),brasileira,BA,Castro Alves,eremitamota@hotmailcom,parda

In [7]:
reeleitos = pd.pivot_table(eleitos, values='votos', index=['cpf'], columns=['ano'], aggfunc='count', margins=True)
reeleitos

ano          2016  2020  All
cpf
1121246583    NaN   1.0    1
1601953577    NaN   1.0    1
2188898524    1.0   1.0    2
2471404570    NaN   1.0    1
8283230549    1.0   NaN    1
8748888591    1.0   1.0    2
11825030553   1.0   NaN    1
11912120500   1.0   1.0    2
12590916272   1.0   1.0    2
20218842520   1.0   1.0    2
20286236591   1.0   NaN    1
27217949572   1.0   1.0    2
33188882572   1.0   NaN    1
33731730510   1.0   1.0    2
33880417504   NaN   1.0    1
35059613534   1.0   NaN    1
38551292587   1.0   NaN    1
40914771515   NaN   1.0    1
50975757504   NaN   1.0    1
55015085591   NaN   1.0    1
56275420553   NaN   1.0    1
70531510506   NaN   1.0    1
70639841520   NaN   1.0    1
73043311515   1.0   NaN    1
73353302549   1.0   NaN    1
78417694587   NaN   1.0    1
88027651549   1.0   NaN    1
89271483553   1.0   NaN    1
89337700549   1.0   NaN    1
90668090510   1.0   NaN    1
91426570597   1.0   1.0    2
95207295500   1.0   NaN    1
96097183534   NaN   1.0    1
98096753568   NaN   1.0    1
All          21.0  21.0   42

In [8]:
reeleitos.sort_values(by=('All'), ascending = False)
# Foram 8 vereadores reeleitos em Feira de Santana

ano          2016  2020  All
cpf
All          21.0  21.0   42
11912120500   1.0   1.0    2
33731730510   1.0   1.0    2
27217949572   1.0   1.0    2
20218842520   1.0   1.0    2
12590916272   1.0   1.0    2
91426570597   1.0   1.0    2
8748888591    1.0   1.0    2
2188898524    1.0   1.0    2
95207295500   1.0   NaN    1
96097183534   NaN   1.0    1
70531510506   NaN   1.0    1
98096753568   NaN   1.0    1
90668090510   1.0   NaN    1
89337700549   1.0   NaN    1
89271483553   1.0   NaN    1
88027651549   1.0   NaN    1
78417694587   NaN   1.0    1
73353302549   1.0   NaN    1
73043311515   1.0   NaN    1
70639841520   NaN   1.0    1
1121246583    NaN   1.0    1
56275420553   NaN   1.0    1
55015085591   NaN   1.0    1
50975757504   NaN   1.0    1
1601953577    NaN   1.0    1
38551292587   1.0   NaN    1
35059613534   1.0   NaN    1
33880417504   NaN   1.0    1
33188882572   1.0   NaN    1
20286236591   1.0   NaN    1
11825030553   1.0   NaN    1
8283230549    1.0   NaN    1
2471404570    NaN   1.0    1
40914771515   NaN   1.0    1

In [9]:
instrucao_group = eleitos.groupby(['instrucao', 'ano'])
instrucao_group.size().unstack()
# Foram mais vereadores com ensino superio completo eleitos em 2020

ano                            2016  2020
instrucao
ensino fundamental completo       2     2
ensino fundamental incompleto     2     1
ensino medio completo            11     9
ensino medio incompleto           1     1
ensino superior completo          5     8

In [10]:
superior_completo = ['ensino superior completo']
ultima_eleicao = [2020]
candidatos_superior = eleitos[eleitos['instrucao'].isin(superior_completo)]
candidatos_superior_2020 = candidatos_superior[candidatos_superior['ano'].isin(ultima_eleicao)]

candidatos_superior_2020[['nome_urna_candidato', 'instrucao', 'ocupacao']] 
# Aqui podemos ver as ocupacoes dos vereadores eleitos em 2020 com ensino superior completo

,nome_urna_candidato,instrucao,ocupacao
23,Eli Ribeiro,ensino superior completo,vereador
57,Silvio Dias,ensino superior completo,advogado
75,Professor Ivamberg,ensino superior completo,professor de ensino medio
126,Lú De Ronny,ensino superior completo,enfermeiro
297,Pedro Américo,ensino superior completo,professor de ensino fundamental
314,Gerusa Sampaio,ensino superior completo,vereador
326,Emerson Minho,ensino superior completo,policial civil
470,Jhonatas Monteiro,ensino superior completo,professor de ensino medio

In [11]:
eleitos_2020 = eleitos[eleitos['ano'].isin(ultima_eleicao)]
eleitos_2020['ocupacao'].value_counts()
#A ocupacao mais frequente entre os eleitos é ser vereador

vereador                                                    8
professor de ensino medio                                   2
empresario                                                  2
locutor e comentarista de radio e televisao e radialista    1
policial militar                                            1
produtor agropecuario                                       1
sacerdote ou membro de ordem ou seita religiosa             1
professor de ensino fundamental                             1
advogado                                                    1
agente administrativo                                       1
policial civil                                              1
enfermeiro                                                  1
Name: ocupacao, dtype: int64

In [12]:
genero_group = eleitos.groupby(['genero', 'ano'])
genero_group.size().unstack()

ano        2016  2020
genero
feminino      2     3
masculino    19    18

In [13]:
raca_group = eleitos.groupby(['raca', 'ano'])
raca_group.size().unstack()

ano     2016  2020
raca
branca     2     2
parda     13    13
preta      6     6

In [14]:
raca_genero_group = eleitos.groupby(['raca', 'genero', 'ano'])
raca_genero_group.size().unstack()

ano               2016  2020
raca   genero
branca feminino    NaN   1.0
       masculino   2.0   1.0
parda  feminino    2.0   2.0
       masculino  11.0  11.0
preta  masculino   6.0   6.0

In [15]:
idade_2020 = eleitos_2020['idade']
idade_2020.describe()
# A média de idade dos eleitos é 49 anos. O mais novo possui 34 anos, o mais velho 65 anos

count    21.000000
mean     49.142857
std       9.671017
min      34.000000
25%      42.000000
50%      50.000000
75%      57.000000
max      65.000000
Name: idade, dtype: float64

In [16]:
eleicao_anterior = [2016]
eleitos_2016 = eleitos[eleitos['ano'].isin(eleicao_anterior)]


idade_2016 = eleitos_2016['idade']
idade_2016.describe()

# A média na eleição de 2016 foi 49 anos. O mais novo foi eleitos com 31 anos e o meis velho com 63 anos.

count    21.000000
mean     48.904762
std       9.104421
min      31.000000
25%      41.000000
50%      51.000000
75%      56.000000
max      63.000000
Name: idade, dtype: float64